body{

    padding: 0;
    margin: 0;
    background-color: #1b263b;
    color: #e0e1dd;

}

/* --- Index --- */

#container{

    font-family: "Jost", sans-serif;

}

#title{

    text-align: center;
    font-size: 4.5rem;

}

#intro{

    margin: auto;
    border: 2px solid #e0e1dd;
    border-radius: 10px;
    width: 90%;
    padding: 2%;
    font-size: 1.1rem;

}

#gallery{
    
    margin: auto;
    width: 90%;
    margin-top: 5%;
}

#passeggeri{

    text-align: center;

}

#passeggeri a{

    color:black;
    font-size: 1.3em;
    color: #e0e1dd;

}

/* -------- */



/* --- Cards --- */

#cards{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    font-size: 1.1rem;

}

#cards div{

    border: 2px solid #e0e1dd;
    border-radius: 10px;
    margin: 0.4rem;
    padding: 0.4rem;
    width: 15%;

}

#Passengers{

    text-align: center;

}

/* --------- */