/* --- Index --- */

#title{

    text-align: center;
    font-size: 4.5rem;

}

#intro{

    margin: auto;
    border: 2px solid black;
    border-radius: 10px;
    width: 90%;
    padding: 2%;
    font-size: 1.1rem;

}

#gallery{
    
    margin: auto;
    width: 90%;
    margin-top: 5%;
}

/* -------- */



/* --- Cards --- */

#cards{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;

}

#cards div{

    border: 1px solid black;
    border-radius: 4px;
    margin: 0.4rem;
    padding: 0.4rem;
    width: 15%;

}

#Passengers{

    text-align: center;

}

/* --------- */